{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% from "macros.html" import send_to_device with context %}

{% extends "firefox/whatsnew/base.html" %}

{% block html_attrs %}
data-whatsnew80-redirect-url="{{ settings.FXA_ENDPOINT + 'sms/?' + utm_params }}"
{% endblock %}

{% block page_title %}{{ ftl('whatsnew80-page-title') }}{% endblock %}

{#- This will appear as <meta property="og:description"> which can be used for social share -#}
{% block page_og_desc %}
  {{ ftl('whatsnew80-page-title') }}
{% endblock %}

{% block body_id %}firefox-whatsnew{% endblock %}
{% block body_class %}{% endblock %}

{% block page_css %}
  {{ css_bundle('firefox_whatsnew_82') }}
{% endblock %}

{% block site_header %}{% endblock %}

{% set show_send_to_device = LANG in settings.SEND_TO_DEVICE_LOCALES %}

{% block content %}
<main class="content-wrapper mzp-t-firefox">
  {% include 'firefox/whatsnew/includes/header.html' %}

  <section class="wnp-content-main">
    <div class="mzp-l-content mzp-t-content-md">
      <img class="wnp-main-image" src="{{ static('img/icons/connection-red.svg') }}" width="120" alt="">
      <h1 class="wnp-main-title">Firefox protects your browser. Mozilla VPN protects you everywhere.</h1>
      <p class="wnp-main-tagline">Mozilla VPN (Virtual Private Network) protects your entire internet connection on your computer, your tablet, and even your phone. For even more security, it comes with a 30-day money back guarantee.</p>

      <div class="wnp-main-cta">
        <a href="https://vpn.mozilla.org" class="mzp-c-button mzp-t-product">Get Privacy To Go</a>
      </div>
    </div>
  </section>

  <section class="wnp-content-extra">
    <div class="mzp-l-content mzp-t-content-xl">
      <div class="l-columns-two">

        <div class="c-picto-block">
          <div class="c-picto-block-image">
            <img src="{{ static('img/icons/performance_orange.svg') }}" width="48" alt="">
          </div>
          <h3 class="c-picto-block-title">It’s fast, very fast</h3>
          <div class="c-picto-block-body">
            <p>Our WireGuard® powered servers are built for speed so you can stream, download, and game as usual.</p>
          </div>
        </div>

        <div class="c-picto-block">
          <div class="c-picto-block-image">
            <img src="{{ static('img/icons/privacy-eye-violet.svg') }}" width="48" alt="">
          </div>
          <h3 class="c-picto-block-title">Internet without a trace</h3>
          <div class="c-picto-block-body">
            <p>We never log, track, or share your data — your activity logs won’t even cast a shadow on our servers.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <aside class="mzp-l-content c-utilities">
    {% set releasenotes_url = url('firefox.releases.index') if not version else '/firefox/%s/releasenotes/'|format(version) %}
    <p>{{ ftl('whatsnew-release-notes', url=releasenotes_url) }}</p>
  </aside>

</main>
{% endblock %}

{% block js %}
  {{ js_bundle('firefox_whatsnew_82') }}
{% endblock %}
